.toolbox-editor {
    width: 100%;
    height: 100%;
    overflow: auto;
    border: 0px;
    outline: 0px;
    background-color: #383838;
    color: #d9d9d9;
}

/* 
  .toolbox-editor ul {
    margin-top: 10px;
  }
  .toolbox-editor ul,
  .toolbox-editor li {
    list-style: none;
    padding: 0px;
    font-size: 12px;
  }
  .toolbox-editor li {
    display: block;
    line-height: 22px;
    margin-bottom: 3px;
  } */
.toolbox-editor .text {
    display: inline-block;
    min-width: 80px;
}

.toolbox-editor .text,
.toolbox-editor .input,
.toolbox-editor .comment {
    padding: 0px 5px;
}

.toolbox-editor table {
    padding: 0px 0px;
    width: 100%;
    border-collapse: collapse;
}

.toolbox-editor table th {
    border: 1px solid #4e4e4e;
    text-align: center;
    line-height: 30px;
}

.toolbox-editor table tr td {
    border: 1px solid #4e4e4e;
    padding: 3px 5px;
}

.toolbox-editor table td .input {
    padding: 0px 0px;
}

.toolbox-editor table td .model-input {
    min-width: 80px;
}

.toolbox-editor .el-tree-node__content {
    border-bottom: 1px dotted #696969;
}

.toolbox-editor .el-tree {
    background-color: transparent;
    color: unset;
    width: auto;
    font-size: 12px;
    user-select: none;
    border: 1px dotted #696969;
    border-bottom: 0px;
}

.toolbox-editor .el-tree .mdi {
    vertical-align: middle;
}

.toolbox-editor .el-tree-node__content {
    position: relative;
}

.toolbox-editor .el-tree-node__content .toolbox-editor-tree-btn-group {
    display: none;
}

.toolbox-editor .el-tree-node__content:hover .toolbox-editor-tree-btn-group {
    display: block;
}

.toolbox-editor .toolbox-editor-tree-span .toolbox-editor-tree-btn-group {
    position: absolute;
    right: 5px;
    top: -1px;
}

.toolbox-editor .toolbox-editor-tree-span {
    /* flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between; */
    font-size: 13px;
}

.toolbox-editor .el-tree__empty-block {
    display: none;
}

.toolbox-editor .el-tree-node__children {
    overflow: visible !important;
}

.toolbox-editor .el-tree-node__children.v-enter-active,
.toolbox-editor .el-tree-node__children.v-leave-active {
    overflow: hidden !important;
}

.toolbox-editor .el-tree .el-tree-node.is-current>.el-tree-node__content {
    background-color: #636363 !important;
}

.toolbox-editor .el-tree .el-tree-node:focus>.el-tree-node__content {
    background-color: #545454;
}

.toolbox-editor .el-tree .el-tree-node>.el-tree-node__content:hover {
    background-color: #545454;
}

.part-box {
    line-height: 20px;
    font-size: 12px;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.part-box,
.part-box li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.part-box li {
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
}

.part-box input,
.part-box select {
    color: #ffffff;
    width: 40px;
    min-width: 40px;
    border: 1px dashed transparent !important;
    background-color: transparent !important;
    height: 20px;
    max-width: 100%;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    box-sizing: border-box;
    outline: none;
    font-size: 12px;
}

.part-box input {
    border-bottom: 1px dashed #636363 !important;
}

.part-box select {
    -moz-appearance: auto;
    -webkit-appearance: auto;
    /* border-bottom: 1px dashed #636363 !important; */
}

.part-box option {
    background-color: #ffffff;
    color: #3e3e3e;
}

.part-box input[type="checkbox"] {
    width: 10px;
    min-width: 10px;
    height: 13px;
    vertical-align: -3px;
    margin-left: 6px;
}

.part-box textarea {
    color: #ffffff;
    height: 70px;
    border: 1px dashed #636363;
    text-align: left;
    padding: 5px;
    min-width: 500px;
    background-color: transparent;
    font-size: 12px;
    vertical-align: text-top;
}

.toolbox-editor .tm-layout>.tm-layout-bar {
    background-color: #4e4e4e;
}

.toolbox-editor .tm-layout-bar>.tm-layout-bar-part {
    background-color: #4e4e4e;
}

.toolbox-editor .toolbox-layout-header {
    border-bottom: 1px solid #4e4e4e;
}

.toolbox-editor input,
.toolbox-editor input:focus,
.toolbox-editor select,
.toolbox-editor select:focus,
.toolbox-editor textarea,
.toolbox-editor textarea:focus {
    background-color: transparent;
    color: #d9d9d9;
    outline: none;
    border: 1px solid #4e4e4e;
}

.toolbox-editor select option {
    background-color: #ffffff;
    color: #3e3e3e;
}


.toolbox-editor .el-divider {
    background-color: #404040;
}

.toolbox-editor .el-loading-mask {
    background-color: rgba(255, 255, 255, 0.1);
}

.toolbox-editor .el-pagination {
    color: #929292;
}

.toolbox-editor .el-pagination .el-input__inner {
    height: 22px !important;
    line-height: 22px !important;
    background-color: transparent;
    border: 0px solid #dcdfe6;
}

.toolbox-editor .el-pagination .el-input__icon {
    line-height: 22px !important;
}

.toolbox-editor .el-pagination button:disabled {
    background-color: transparent;
}

.toolbox-editor .el-input.is-disabled .el-input__inner {
    background-color: transparent;
}

.toolbox-editor .el-pagination .btn-next,
.toolbox-editor .el-pagination .btn-prev {
    background-color: transparent;
}

.toolbox-editor .el-pagination .btn-next,
.toolbox-editor .el-pagination .btn-prev {
    color: #929292;
}

.toolbox-editor .el-pager li.btn-quicknext,
.toolbox-editor .el-pager li.btn-quickprev {
    color: #929292;
}

.toolbox-editor .el-pager li {
    background: transparent;
}

.toolbox-editor .el-table__header-wrapper th.el-table__cell {
    user-select: text;
}

.toolbox-editor .el-table input[type="checkbox"] {
    vertical-align: -2px;
}

.toolbox-editor .el-table,
.toolbox-editor .el-table__expanded-cell {
    background: transparent;
}

.toolbox-editor .el-table th,
.toolbox-editor .el-table td {
    background: #172029;
}

.toolbox-editor .el-table .el-table__row:hover td.el-table__cell,
.toolbox-editor .el-table .el-table__row:hover td.el-table__cell,
.toolbox-editor .el-table .el-table__row.hover-row td.el-table__cell {
    background-color: #473939;
}

.toolbox-editor .el-table__fixed-right::before,
.toolbox-editor .el-table__fixed::before {
    background-color: transparent;
}

.toolbox-editor .el-table {
    color: unset;
}

.toolbox-editor .el-table--mini td,
.toolbox-editor .el-table--mini th {
    padding: 3px 0;
}

.toolbox-editor .el-table--border::after,
.toolbox-editor .el-table--group::after,
.toolbox-editor .el-table::before {
    background-color: transparent;
}

.toolbox-editor .el-table--border,
.toolbox-editor .el-table--group {
    border: 1px solid #404040;
}

.toolbox-editor .el-table td,
.toolbox-editor .el-table th.is-leaf {
    border-bottom: 1px solid #404040;
}

.toolbox-editor .el-table--border .el-table__cell,
.toolbox-editor .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed {
    border-right: 1px solid #404040;
}

.toolbox-editor .el-table--border th.el-table__cell.gutter:last-of-type {
    border-bottom: 1px solid #404040;
}

.toolbox-editor .el-table .el-table__cell {
    padding: 0px;
}

.toolbox-editor .el-table .cell {
    white-space: nowrap;
}

.toolbox-editor .el-table tbody .cell {
    padding-left: 0px !important;
}

.toolbox-editor .el-table input {
    color: #ddd;
    border: 0px dashed transparent;
    background-color: transparent;
    width: 100%;
    padding: 0px 5px;
    box-sizing: border-box;
    outline: none;
    font-size: 12px;
    line-height: 25px;
}

.toolbox-editor .el-table .el-switch {
    font-size: 12px;
    line-height: 14px;
    height: 14px;
}

.toolbox-editor .el-table .el-switch .el-switch__core {
    height: 14px;
    background-color: #4f4f4f;
    border: 0px;
}

.toolbox-editor .el-table .el-switch.is-checked .el-switch__core {
    border-color: #04acb5;
    background-color: #04acb5;
    border: 0px;
}

.toolbox-editor .el-table .el-switch .el-switch__core:after {
    width: 12px;
    height: 12px;
    background-color: #727272;
}

.toolbox-editor .el-table .el-tag.el-tag--info {
    background-color: transparent;
    color: inherit;
}

.toolbox-editor .el-table .el-select__tags-text {
    font-size: 12px;
}

.toolbox-editor .el-table__body-wrapper::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 10px #333333;
    background: #333333;
}

.toolbox-editor .el-table__body-wrapper:hover::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #262626;
    background: #262626;
}

.toolbox-editor .el-table__body-wrapper:hover::-webkit-scrollbar-corner {
    background: #262626;
}

.toolbox-editor .el-table__body-wrapper::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.toolbox-editor .el-table__body-wrapper:hover::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.toolbox-editor .el-table__body-wrapper::-webkit-scrollbar-thumb {
    border-radius: 0px;
}

.toolbox-editor .el-table__body-wrapper::-webkit-scrollbar-track {
    border-radius: 0;
}

.toolbox-editor .el-table__body-wrapper::-webkit-scrollbar-corner {
    background: transparent;
}


.toolbox-editor .el-table th .cell {
    padding: 0px 0px !important;
    line-height: 30px;
    text-align: center;
}

.toolbox-editor .el-table .el-table__cell,
.toolbox-editor .el-table .cell {
    padding: 0px 0px !important;
    line-height: 25px;
    text-align: center;
    white-space: nowrap;
}

.toolbox-editor .el-table .el-input__inner {
    height: 25px;
    line-height: 25px;
    padding: 0 5px;
    border: 0px;
    outline: none;
    text-align: left;
}

.toolbox-editor .el-table .el-input__icon {
    line-height: 28px;

}

.toolbox-editor .el-form-item__label {
    color: #ddd;
}

.toolbox-editor .el-checkbox {
    color: #ddd;
}

.toolbox-editor .el-checkbox__input.is-disabled+span.el-checkbox__label {
    color: #767676;
}

.data-list-box {
    border: 1px solid #424242;
    border-bottom: 0px;
}

.data-list-box .data-list-one {
    border-bottom: 1px solid #424242;
    display: flex;
    padding: 2px 0px;
    cursor: pointer;
}

.data-list-box .data-list-one:hover {
    background: #2f3f4f;
}

.data-list-box .data-list-one .data-list-one-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    flex: 1;
    padding: 3px 10px;
}